* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #000918;
  --title-color: #a7b0bd;
  --input-color: #00112c;
  --input-border-color: #1f3c69;
  --input-text-color: #697689;
  --card-color: #1386fa;
  --text-color: #fff;
  --secondary-text-color: #bae6ff;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 2.5rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 5.8rem;
  color: var(--title-color);
}

.search-input {
  width: 80%;
  max-width: 64.3rem;
  position: relative;
}

.search-input form {
  display: flex;
  padding-bottom: 1rem;
}

.search-input button {
  position: relative;
  right: 5.5rem;
  top: 1.2rem;
  width: 3.1rem;
  height: 3.1rem;
  font-size: 1.2rem;
  border: none;
  background: transparent;
  cursor: pointer;
  /* display: none; */
}

.search-input img {
  position: relative;
  width: 100%;
  height: 100%;
}

.search {
  width: 95%;
  height: 6rem;
  padding: 2.4rem;
  float: left;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3.1rem;
  color: var(--input-text-color);

  background: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 1.5rem;
}

.cards-container {
  display: flex;
  justify-content: space-around;

  padding-top: 6rem;
  flex-wrap: wrap;
  row-gap: 5rem;

  padding-bottom: 5rem;
}

.loader {
  display: none; /**/
  align-items: center;
  position: relative;
  right: 5rem;
}

.spinner {
  animation: rotate 2s linear infinite;
  height: 33px;
  width: 33px;
}

.path {
  stroke: #9c9c9c;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.results-dropdown {
  display: none;
  background: var(--input-color);
  width: 95%;
  border: 1px solid var(--input-border-color);
  border-radius: 1.5rem;

  position: absolute;
  z-index: 10;
}

.result-line {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3.1rem;
  color: var(--input-text-color);
  border-bottom: 1px solid var(--input-border-color);
  cursor: pointer;
}

.result-line:last-child {
  border: none;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@media (max-width: 440px) {
  .search-input button {
    display: none;
  }
  .search {
    font-size: 2.5rem;
  }
  .result-line {
    font-size: 2.5rem;
  }
}

@media (max-width: 374px) {
  .search {
    font-size: 2rem;
  }
  .result-line {
    font-size: 2rem;
  }
}
